.icon {
  width: 20px;
  z-index: 10;
  height: 20px;
  /* opacity: .5; */
  padding: 0 10px ;
  transition: height 1s;
  /* position: absolute; */
  /* top: -150px; */
  /* background-color: aliceblue; */
}
.icon:hover {
  opacity: .6;
  z-index: 10;
  /* padding: 3px; */
  /* background-color: aliceblue; */
  /* height: 150px; */
  /* transition: 6s; */
  /* background-color: blue */
}

.icon img {
  /* position: absolute; */
  /* padding: 2px; */
}