.note {
  width: 200px;
  height: 250px;
  background-color: aquamarine;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: inline-flex;
  margin: 5px;
  position: relative;
  user-select: none;
  /* transition: .5s; */
  
}

.note:hover {
  box-shadow: 0 0 9px 0px #a1a1a1
}

@media only screen and (max-width: 350px) {
  .note {
    width: 250px;
    height: 150px;
    background-color: aquamarine;
    display: inline-flex;
    margin: 5px;
    position: relative;
  }

}