.note_panel {
  /* width: 150px; */
  height: 30px;
  /* background-color: aliceblue; */
  /* opacity: 0; */
  position: absolute;
  bottom: 0;
  transition: .6s;
  display: flex;

}
.note_panel:hover {
  opacity: 1;
}
@media only screen and (max-width: 350px) {
  .note_panel {
    width: 250px;
  }

}
