.note {
  width: 150px;
  height: 250px;
  background-color: aquamarine;
  display: inline-flex;
  margin: 5px;
  position: relative;
  user-select: none;
}

@media only screen and (max-width: 350px) {
  .note {
    width: 250px;
    height: 150px;
    background-color: aquamarine;
    display: inline-flex;
    margin: 5px;
    position: relative;
  }

}